<!-- modal containing the form for adding a new board will be here
<form>
  <input type="text" ng-model="" placeholder="Name of Board"/>
  <input type="submit" value="Save"/>
  <input type="submit" value="Cancel"/>
</form> -->

<h1>{{profile.name}}</h1>

<button type="button" class="btn btn-primary">Create New Board</button> <!-- Connnect button to modal -->
<div ng-repeat= "(key,board) in profile.boards">


<!-- Placeholder for an ng-repeat over user's current boards -->
<h2><a href="#/userProfile/{{key}}/{{board.title}}">{{board.title}}</a></h2>

<a class="btn btn-info" href="">Edit</a> <!-- Insert reference to the create modal for the edit feature -->

<button class="btn btn-danger" ng-click="">Delete</button> <!-- Insert reference to the delete feature -->
</div>
