<!-- Modal to create new pin -->
<div
	class="modal
				modal-dialog
				modal-content
				modal-header"
		id="newPinModal"
>
	<h1>Create New Pin</h1>

	<form>
	  <input type="text"  placeholder="Title of Pin" ng-model="board.newPin.title"/>
	  <input type="text" placeholder="Url of Image" ng-model="board.newPin.url"/>
	  <input type="submit" class="btn btn-info" value="Save" ng-click="board.createNewPin()" onclick="this.disabled=true;this.form.submit();"/>
	  <input
	  	type="submit"
			class="btn btn-danger"
			value="Cancel"
			data-dismiss="modal"
		/>
	</form>
</div>

<h1>{{board.name}}</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPinModal">Create New Pin</button>
<div class="container">
	<div class="row">
		<!-- Placeholder for an ng-repeat over user's current boards -->
		<div ng-repeat="(key,pin) in board.pins" class="col-md-4">

		<h2>{{pin.title}}</h2>
		<img src="{{pin.url}}" alt="" class="img-responsive">
		<a class="btn btn-info" href="">Edit</a> <!-- Insert reference to the create modal for the edit feature -->

		<button class="btn btn-danger" ng-click="board.deletePin(key)">Delete</button>
		</div>
	</div>
</div>

