<!-- modal containing the form for adding/editing a pin will be here
<form>
  <input type="text" ng-model="" placeholder="Name of Pin"/>
  <input type="submit" value="Save"/>
  <input type="submit" value="Cancel"/>
</form> -->

<h1><!-- {{Placeholder name for userBoard's name}}--></h1>
<button type="button" class="btn btn-primary">Create New Pin</button>

<!-- Placeholder for an ng-repeat over user's current boards -->

<h2><!-- Variable for Pin Name --></h2>

<a class="btn btn-info" href="">Edit</a> <!-- Insert reference to the create modal for the edit feature -->

<button class="btn btn-danger" ng-click="">Delete</button> <!-- Insert reference to the delete feature —
