<!-- Modal to create new pin -->
<div
	class="modal
				modal-dialog
				modal-content
				modal-header"
		id="newPinModal"
>
	<h1>Create New Pin</h1>

	<form>
	  <input type="text"  placeholder="Name of Pin"/>
	  <input type="submit" class="btn btn-info" value="Save"/>
	  <input
	  	type="submit"
			class="btn btn-danger"
			value="Cancel"
			data-dismiss="modal"
		/>
	</form>
</div>

<h1><!-- {{Placeholder name for userBoard's name}}--></h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPinModal">Create New Pin</button>

<!-- Placeholder for an ng-repeat over user's current boards -->

<h2><!-- Variable for Pin Name --></h2>

<a class="btn btn-info" href="">Edit</a> <!-- Insert reference to the create modal for the edit feature -->

<button class="btn btn-danger" ng-click="">Delete</button> <!-- Insert reference to the delete feature —
